-# partial from piano, every time we render @piano this will be showed inline. So this can be rendered also in another view as a part of it 


.show-card-height.col.s12.m7
	.card.horizontal	
		.card-stacked
			.show-card.card-content
				.field-title
					Details
				%br
				%table
					%thead
						%tr
							%th
								Tipo
							%th
								Color
							%th
								Material
							%th
								Keys number
					%body
						%tr
							%td.bigger
								= piano.tipo.capitalize
							%td.bigger
								- if piano.color.present?
									= piano.color.capitalize
							%td.bigger
								- if piano.material.present?
									= piano.material.capitalize
							%td.bigger
								= piano.n_keys