
-#<%= link_to products_path do %>
-#   <i class="material-icons">arrow_back</i> Back
-#  </div>
-#<% end %>

= link_to products_path do
	%i.material-icons
		arrow_back
	Back


%h3
	Pianos
.row
	-@pianos.each do |pi| 

		.col.s6.m3.l2
			= render(pi.product)
			= render(pi)
