-# partial from other, every time we render @other this will be showed inline. So this can be rendered also in another view as a part of it 

.show-card-height.col.s12.m7
	%h2.header
		Details
	= other.tipo
	%br

