-# partial from cart, every time we render @cart this will be showed inline. So this can be rendered also in another view as a part of it 

%h2
	All items in cart 
-cart.line_items.each do |l_item|
	Item:
	%br
	= render l_item
	= link_to "Remove one", line_item_path(l_item.id), method: :delete 
	%br
	= link_to "Remove all", line_items_destroy_path(l_item.id), method: :delete
	%br
	%br
	
= link_to "Empty cart", cart_path(cart.id), method: :delete