
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons"; 

nav {
    height: 80px;
    line-height: 80px;
}

nav .brand-logo {
    margin-left: 20px;
    font-size: 40px;
}

nav form {
    margin-left: 350px;
    width: 300px;
}

.range{
    margin-left: 10px;
    margin-right: 10px;
}
.notice {
	color: green;
	font-weight: bold;
	font-size: 150%;
}

.alert {
	color: red;
	font-weight: bold;
	font-size: 150%;
}



@import 'products';