// Place all the styles related to the line_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.container-main{
    font-family: 'PT Sans', sans-serif;
    border: 2px solid;
}

table, th, td{
	border: 2px solid;
	color: blue;
} 

*/