// Place all the styles related to the pianos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*select #piano_tipo{
	width: 100px;
	height: 80px;
}
*/

/*.select-class{
	display: inline-block;
	width: 100px;
	height: 100px;
}*/

input-field.col.s12 > select {
	width: 100px !important;
	height: 60px !important;
	opacity: 0.5;
}