// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-card {
    font-size: 30px 
}

.show-card-btn {
    font-size: 20px;
}

.show-card-height {
    width: 80%;
}

.product-image {
    width: 700px; height: 600px;
}

.index-card-image{
    height: 70%; width: 80%;
}
div.card-price{
    margin-left: 150px;
    font-size: 20px;
}

.grid-element {
	width: 400px; height: 450px;
}

.row#grid-head {
	display: inline-block;
	margin-bottom: 80px;
}


.full-container{
    max-width: 900px;
}



.block-container{
    display: block;
}

.file-field.input-field.col.s12.m8{
    width: 307px;
    display: block;
}

/*.row{
    border: 2px solid;
}*/

.block-form-small {
    display: inline-block;
    max-width: 150px;
    max-height: 81px;
}

.block-form-medium {
    display: inline-block;
    max-width: 300px;
    max-height: 81px;
}

.input-field.col.s6{
    min-width: 130px;
}
