-# partial from product, every time we render @product this will be showed inline. So this can be rendered also in another view as a part of it
%h2 
	=product.title
	
.description
	Description:
	%br
	=product.description
	%br
	%br
.price
	Price:
	%br
	=product.price
	%br
	%br
.quantity
	Available:
	%br
	=product.quantity
	%br
	%br