<h3>Instruments</h3>
<div class="row">
  <% @products.each do |prod| %>

    <div class="col s6 m3 l2">
      <div class="card">
        <div class="card-image">
          <%= image_tag "data:image/jpeg;base64,#{prod.image}"%>
        </div>
        <div class="card-content">
          <p><%= prod.description %></p>
        </div>
        <div class="card-action">
          <%= link_to "Details", prod %>
        </div>
      </div>
    </div>
  <% end %> 
</div>