<!-- We render the partial _product.html.haml
	 and the partial _instrum associated -->
<%= render(@product) %>
<%= render(@product.instrum) %>
<% if @product.user != current_user && @product.comments.where(:user => current_user).size == 0 && user_signed_in?%>
	<%= render  "comments/form" %>
<% end %>

<h2 class="comments-head"> Comments </h2>
<% if !@product.comments.nil? %>
	<% @product.comments.each  do |comm| %>
		<%= render(comm) %>
	<% end %>
<% end %>
