-# partial from line_item, every time we render @line_item this will be showed inline. So this can be rendered also in another view as a part of it 


.container-main

	%table
		%tr
			%th
				Product ->
			%th 
				Quantity ->
		%tr
			%td
				= line_item.product.title
			%td
				= line_item.quantity

